#gameover {
  text-align: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

#gameover h2,
#gameover p {
  margin-bottom: 0.5rem;
}

#gameover p {
  color: #ff4800;
}

#gameover img {
  margin: 1rem auto;
  width: 250px;
}
